@plugin "flyonui/theme" {
  name: "slashnot";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97.466% 0.011 259.822);
  --color-base-300: oklch(93.268% 0.016 262.751);
  --color-base-content: oklch(41.886% 0.053 255.824);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(42.551% 0.161 282.339);
  --color-secondary-content: oklch(88.51% 0.032 282.339);
  --color-accent: oklch(71% 0.194 13.428);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(83.923% 0.012 257.651);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}